@font-face {
    font-family: 'Fieldwork Geo';
    src: url('fonts/Fieldwork-GeoDemibold.woff2') format('woff2'),
        url('fonts/Fieldwork-GeoDemibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fieldwork Geo';
    src: url('fonts/Fieldwork-GeoBlack.woff2') format('woff2'),
        url('fonts/Fieldwork-GeoBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fieldwork Geo';
    src: url('fonts/Fieldwork-GeoBold.woff2') format('woff2'),
        url('fonts/Fieldwork-GeoBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fieldwork Geo';
    src: url('fonts/Fieldwork-GeoLight.woff2') format('woff2'),
        url('fonts/Fieldwork-GeoLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fieldwork Geo';
    src: url('fonts/Fieldwork-GeoRegular.woff2') format('woff2'),
        url('fonts/Fieldwork-GeoRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fieldwork Geo';
    src: url('fonts/Fieldwork-GeoThin.woff2') format('woff2'),
        url('fonts/Fieldwork-GeoThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

